*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(255, 255, 0);
}
div{
     /*border: 2px solid rgb(0, 0, 0); 
     text-align: center; */
}
.pos-rel{
    position: relative;
    width: 100%;
}
.pos-Img{
    position: absolute;
    height: 20px;
    padding-right: 10px;
    right: 0;
}
.img-col{
    margin-top: 5px;    
}
.col-6{
    align-items: center;
}
input{
    color: rgba(0, 0, 0, .8980392157); 
    border: 0;
    width: 100%;
    height:35px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);           
}
div p{
    margin: 0;
    text-align: center;
}